{% include 'base.html' %}
{% include 'menu.html' %}

{% if timelines %}
    {% for user in timelines %}
        <div class="user_feed container-fluid">
            <div class="user">
                <h3>{{user}}</h3>
            </div>
            <br>
            {% for tweet in timelines[user] %}
                <div class="tweet">
                    <div class="tweet-content">
                        <a href="https://twitter.com/{{user}}/status/{{tweet.id}}" target="_blank">
                            <img class="tweet_img" src="{{tweet.user.profile_image_url}}" alt={{user}}>
                            <br>
                            <div class="tweet_text"> 
                                {{tweet.text}}
                            </div>
                        </a>
                        <br>
                        <div class="tweet_created_at">
                            {{tweet.created_at}}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>

    {% endfor %}
{% endif %}
