{% include 'base.html' %}
{% include 'menu.html' %}
{% if feeds %}
    <div class="user_feed container-fluid">
        <br>
        {% for tweet in feeds %}
            <div class="tweet">
                <div class="tweet-content">
                    <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}" target="_blank">
                        <img class="tweet_img" src="{{tweet.user.profile_image_url}}" alt={{user}}>
                        <br>
                        <div class="tweet_text"> 
                            {{tweet.text}}
                        </div>
                    </a>
                    </br>
                    <div class="tweet_created_at">
                        {{tweet.created_at}}
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

{% endif %}
