{% include 'base.html' %}
{% include 'menu.html' %}


{% if timelines %}
    {% for user in timelines %}
        {{user}}
        <div class="user_feed">
            <br>
            {% for tweet in timelines[user] %}
                <a href="https://twitter.com/{{user}}/status/{{tweet.id}}" target="_blank">
                    <div class="tweet">
                        <img class="tweet_img" src="{{tweet.user.profile_image_url}}" alt={{user}}>
                        <div class="tweet_text"> 
                            {{tweet.text}}
                        </div>
                    </div>
                </a>
            {% endfor %}
            
        </div>

    {% endfor %}
{% endif %}
